@charset "UTF-8";
/*自定义标签 测试*//*自定义标签 世界观*/
span {

}
:is(a[data-ref="世界观"],.page-title-sizer-wrapper span[data-ref="世界观"]){
  position: relative;
}
:is(a[data-ref="世界观"],.page-title-sizer-wrapper span[data-ref="世界观"]):hover{
  position: relative;
}
:is(a[data-ref="世界观"],.page-title-sizer-wrapper span[data-ref="世界观"])::before{
  content: "\EB54";
  font-size: 1em;
  font-family: 'tabler-icons';
  color: #217DBA;
  margin-right: 2px;
}
:is([data-ref="世界观"]) > a > span.page-icon {
  text-indent:-9999px;
   position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref="世界观"])>a::before {
  font-family: 'tabler-icons';
  font-size: 1.2em;
  color: #217DBA;
  content: "\EB54";
}
/*自定义标签 世界观*/
/*自定义标签 测试页面*/
:is(a[data-ref^="测试页面"],.page-title-sizer-wrapper span[data-ref^="测试页面"]){
  position: relative;
}
:is(a[data-ref^="测试页面"],.page-title-sizer-wrapper span[data-ref^="测试页面"]):hover{
  position: relative;
}
:is(a[data-ref^="测试页面"],.page-title-sizer-wrapper span[data-ref^="测试页面"])::before{
  content: "\EFD3";
  font-size: 1em;
  font-family: 'tabler-icons';
  color: #217DBA;
  margin-right: 2px;
}
:is([data-ref^="测试页面"]) > a > span.page-icon {
  text-indent:-9999px;
   position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="测试页面"])>a::before {
  font-family: 'tabler-icons';
  font-size: 1.2em;
  color: #217DBA;
  content: "\EFD3";
}
/*自定义标签 测试*/
:is(a[data-ref="测试"],.page-title-sizer-wrapper span[data-ref="测试"]){
  position: relative;
}
:is(a[data-ref="测试"],.page-title-sizer-wrapper span[data-ref="测试"]):hover{
  position: relative;
}
:is(a[data-ref="测试"],.page-title-sizer-wrapper span[data-ref="测试"])::before{
  content: "🍭";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref="测试"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref="测试"])>a::before {
  content: "🍭";
}
/*自定义标签 货源*//*自定义标签 申通 中通 邮政 极兔 韵达 顺丰 圆通 京东 德邦 百世 优速*/
:is(a[data-ref^="申通"],.page-title-sizer-wrapper span[data-ref^="申通"],a[data-ref^="中通"],.page-title-sizer-wrapper span[data-ref^="中通"],a[data-ref^="邮政"],.page-title-sizer-wrapper span[data-ref^="邮政"],a[data-ref^="极兔"],.page-title-sizer-wrapper span[data-ref^="极兔"],a[data-ref^="韵达"],.page-title-sizer-wrapper span[data-ref^="韵达"],a[data-ref^="顺丰"],.page-title-sizer-wrapper span[data-ref^="顺丰"],a[data-ref^="圆通"],.page-title-sizer-wrapper span[data-ref^="圆通"],a[data-ref^="京东"],.page-title-sizer-wrapper span[data-ref^="京东"],a[data-ref^="德邦"],.page-title-sizer-wrapper span[data-ref^="德邦"],a[data-ref^="百世"],.page-title-sizer-wrapper span[data-ref^="百世"],a[data-ref^="优速"],.page-title-sizer-wrapper span[data-ref^="优速"]){
  position: relative;
  border: 0;
  border-bottom: 1px solid #338ce1;
  font-size: 12px;
}
:is(a[data-ref^="申通"],.page-title-sizer-wrapper span[data-ref^="申通"],a[data-ref^="中通"],.page-title-sizer-wrapper span[data-ref^="中通"],a[data-ref^="邮政"],.page-title-sizer-wrapper span[data-ref^="邮政"],a[data-ref^="极兔"],.page-title-sizer-wrapper span[data-ref^="极兔"],a[data-ref^="韵达"],.page-title-sizer-wrapper span[data-ref^="韵达"],a[data-ref^="顺丰"],.page-title-sizer-wrapper span[data-ref^="顺丰"],a[data-ref^="圆通"],.page-title-sizer-wrapper span[data-ref^="圆通"],a[data-ref^="京东"],.page-title-sizer-wrapper span[data-ref^="京东"],a[data-ref^="德邦"],.page-title-sizer-wrapper span[data-ref^="德邦"],a[data-ref^="百世"],.page-title-sizer-wrapper span[data-ref^="百世"],a[data-ref^="优速"],.page-title-sizer-wrapper span[data-ref^="优速"]):hover{
  position: relative;
}
:is(a[data-ref^="申通"],.page-title-sizer-wrapper span[data-ref^="申通"],a[data-ref^="中通"],.page-title-sizer-wrapper span[data-ref^="中通"],a[data-ref^="邮政"],.page-title-sizer-wrapper span[data-ref^="邮政"],a[data-ref^="极兔"],.page-title-sizer-wrapper span[data-ref^="极兔"],a[data-ref^="韵达"],.page-title-sizer-wrapper span[data-ref^="韵达"],a[data-ref^="顺丰"],.page-title-sizer-wrapper span[data-ref^="顺丰"],a[data-ref^="圆通"],.page-title-sizer-wrapper span[data-ref^="圆通"],a[data-ref^="京东"],.page-title-sizer-wrapper span[data-ref^="京东"],a[data-ref^="德邦"],.page-title-sizer-wrapper span[data-ref^="德邦"],a[data-ref^="百世"],.page-title-sizer-wrapper span[data-ref^="百世"],a[data-ref^="优速"],.page-title-sizer-wrapper span[data-ref^="优速"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhdwfO2dj1KUYAYsQWQ/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: var(--pageIconTop);
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: 2px;
}
:is([data-ref^="申通"],[data-ref^="中通"],[data-ref^="邮政"],[data-ref^="极兔"],[data-ref^="韵达"],[data-ref^="顺丰"],[data-ref^="圆通"],[data-ref^="京东"],[data-ref^="德邦"],[data-ref^="百世"],[data-ref^="优速"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="申通"],[data-ref^="中通"],[data-ref^="邮政"],[data-ref^="极兔"],[data-ref^="韵达"],[data-ref^="顺丰"],[data-ref^="圆通"],[data-ref^="京东"],[data-ref^="德邦"],[data-ref^="百世"],[data-ref^="优速"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhdwfO2dj1KUYAYsQWQ/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
}



/*自定义标签 抚顺*//*自定义标签 结婚*/
:is(a[data-ref^="结婚"],.page-title-sizer-wrapper span[data-ref^="结婚"]){
  position: relative;
}
:is(a[data-ref^="结婚"],.page-title-sizer-wrapper span[data-ref^="结婚"]):hover{
  position: relative;
}
:is(a[data-ref^="结婚"],.page-title-sizer-wrapper span[data-ref^="结婚"])::before{
  content: "🍱";
  font-family: 'tabler-icons';
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref^="结婚"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="结婚"])>a::before {
  content: "🍱";
}
/*自定义标签 结婚*/

/*自定义标签 抚顺*/
:is(a[data-ref^="抚顺"],.page-title-sizer-wrapper span[data-ref^="抚顺"]){
  position: relative;
  
}
:is(a[data-ref^="抚顺"],.page-title-sizer-wrapper span[data-ref^="抚顺"]):hover{
  position: relative;
}
:is(a[data-ref^="抚顺"],.page-title-sizer-wrapper span[data-ref^="抚顺"])::before{
  content: "\EBB9";
  font-size: 1em;
  font-family: 'tabler-icons';
  color: #217DBA;
  margin-right: 2px;
}
:is([data-ref^="抚顺"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="抚顺"])>a::before {
  font-family: 'tabler-icons';
  font-size: 1.2em;
  color: #217DBA;
  content: "\EBB9";
}
/*自定义标签 我的问题 问题*/
:is(a[data-ref^="我的问题"],.page-title-sizer-wrapper span[data-ref^="我的问题"],a[data-ref^="问题"],.page-title-sizer-wrapper span[data-ref^="问题"]){
  position: relative;
  color: #F03A17;
  font-weight: 550;
}
:is(a[data-ref^="我的问题"],.page-title-sizer-wrapper span[data-ref^="我的问题"],a[data-ref^="问题"],.page-title-sizer-wrapper span[data-ref^="问题"]):hover{
  position: relative;
    color: #F03A17;
  font-weight: 550;
}
:is(a[data-ref^="我的问题"],.page-title-sizer-wrapper span[data-ref^="我的问题"],a[data-ref^="问题"],.page-title-sizer-wrapper span[data-ref^="问题"])::before{
  content: "❓";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref^="我的问题"],[data-ref^="问题"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:-8px !important;
}
:is([data-ref^="我的问题"],[data-ref^="问题"])>a::before {
  content: "❓";
}
/*自定义标签 我的问题 问题*//*自定义标签 logseq Logseq*/
:is(a[data-ref^="logseq"],.page-title-sizer-wrapper span[data-ref^="logseq"],a[data-ref^="Logseq"],.page-title-sizer-wrapper span[data-ref^="Logseq"]){
  position: relative;
}
:is(a[data-ref^="logseq"],.page-title-sizer-wrapper span[data-ref^="logseq"],a[data-ref^="Logseq"],.page-title-sizer-wrapper span[data-ref^="Logseq"]):hover{
  position: relative;
}
:is(a[data-ref^="logseq"],.page-title-sizer-wrapper span[data-ref^="logseq"],a[data-ref^="Logseq"],.page-title-sizer-wrapper span[data-ref^="Logseq"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhZxMbPC6KiQ_VvHuJg/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: var(--pageIconTop);
  left: 0px;
  z-index: 1;
  display: inline-block;
  overflow:auto;
  margin-right: 2px;
}
:is([data-ref^="logseq"],[data-ref^="Logseq"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="logseq"],[data-ref^="Logseq"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhZxMbPC6KiQ_VvHuJg/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
}


:is(a[data-ref^="quicker"],.page-title-sizer-wrapper span[data-ref^="quicker"],a[data-ref^="Quicker"],.page-title-sizer-wrapper span[data-ref^="Quicker"]){
  position: relative;
}
:is(a[data-ref^="quicker"],.page-title-sizer-wrapper span[data-ref^="quicker"],a[data-ref^="Quicker"],.page-title-sizer-wrapper span[data-ref^="Quicker"]):hover{
  position: relative;
}
:is(a[data-ref^="quicker"],.page-title-sizer-wrapper span[data-ref^="quicker"],a[data-ref^="Quicker"],.page-title-sizer-wrapper span[data-ref^="Quicker"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhZxOuLFz_QPy8F1GeQ/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: var(--pageIconTop);
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: 2px;
}
:is([data-ref^="quicker"],[data-ref^="Quicker"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="quicker"],[data-ref^="Quicker"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhZxOuLFz_QPy8F1GeQ/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 2px;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 quicker Quicker*//*自定义标签 宏观*/
:is(a[data-ref^="宏观"],.page-title-sizer-wrapper span[data-ref^="宏观"]){
  position: relative;
}
:is(a[data-ref^="宏观"],.page-title-sizer-wrapper span[data-ref^="宏观"]):hover{
  position: relative;
}
:is(a[data-ref^="宏观"],.page-title-sizer-wrapper span[data-ref^="宏观"])::before{
  content: "📅";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref^="宏观"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:-8px !important;
}
:is([data-ref^="宏观"])>a::before {
  content: "📅";
}
/*自定义标签 宏观*//*自定义标签 客服话术 直播*/
:is(a[data-ref^="客服话术"],.page-title-sizer-wrapper span[data-ref^="客服话术"],a[data-ref^="直播"],.page-title-sizer-wrapper span[data-ref^="直播"]){
  position: relative;
}
:is(a[data-ref^="客服话术"],.page-title-sizer-wrapper span[data-ref^="客服话术"],a[data-ref^="直播"],.page-title-sizer-wrapper span[data-ref^="直播"]):hover{
  position: relative;
}
:is(a[data-ref^="客服话术"],.page-title-sizer-wrapper span[data-ref^="客服话术"],a[data-ref^="直播"],.page-title-sizer-wrapper span[data-ref^="直播"])::before{
  content: "🎙";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref^="客服话术"],[data-ref^="直播"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:-8px !important;
}
:is([data-ref^="客服话术"],[data-ref^="直播"])>a::before {
  content: "🎙";
}
/*自定义标签 客服话术 直播*//*自定义标签 88单电商自动配单系统*/
:is(a[data-ref^="88单电商自动配单系统"],.page-title-sizer-wrapper span[data-ref^="88单电商自动配单系统"]){
  position: relative;
}
:is(a[data-ref^="88单电商自动配单系统"],.page-title-sizer-wrapper span[data-ref^="88单电商自动配单系统"]):hover{
  position: relative;
}
:is(a[data-ref^="88单电商自动配单系统"],.page-title-sizer-wrapper span[data-ref^="88单电商自动配单系统"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhaABJ48BnBkQu-avXA/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 2px;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: 2px;
}
:is([data-ref^="88单电商自动配单系统"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="88单电商自动配单系统"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhaABJ48BnBkQu-avXA/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 2px;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 88单电商自动配单系统*//*自定义标签 樱桃*/
:is(a[data-ref^="樱桃"],.page-title-sizer-wrapper span[data-ref^="樱桃"]){
  position: relative;
}
:is(a[data-ref^="樱桃"],.page-title-sizer-wrapper span[data-ref^="樱桃"]):hover{
  position: relative;
}
:is(a[data-ref^="樱桃"],.page-title-sizer-wrapper span[data-ref^="樱桃"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhZ9bxGTZ-bie2czVMw/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: var(--pageIconTop);
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: 2px;
}
:is([data-ref^="樱桃"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="樱桃"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhZ9bxGTZ-bie2czVMw/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 2px;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 樱桃*//*自定义标签 千牛*/
:is(a[data-ref^="千牛"],.page-title-sizer-wrapper span[data-ref^="千牛"]){
  position: relative;
}
:is(a[data-ref^="千牛"],.page-title-sizer-wrapper span[data-ref^="千牛"]):hover{
  position: relative;
}
:is(a[data-ref^="千牛"],.page-title-sizer-wrapper span[data-ref^="千牛"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhZ9T60WUqVxOjFcYKA/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 2px;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: 2px;
}
:is([data-ref^="千牛"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="千牛"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhZ9T60WUqVxOjFcYKA/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 2px;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 千牛*//*自定义标签 天猫*/
:is(a[data-ref^="天猫"],.page-title-sizer-wrapper span[data-ref^="天猫"]){
  position: relative;
}
:is(a[data-ref^="天猫"],.page-title-sizer-wrapper span[data-ref^="天猫"]):hover{
  position: relative;
}
:is(a[data-ref^="天猫"],.page-title-sizer-wrapper span[data-ref^="天猫"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhZ564YVUBvHEd05_MQ/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 2px;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: 2px;
}
:is([data-ref^="天猫"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="天猫"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhZ564YVUBvHEd05_MQ/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 2px;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 天猫*//*自定义标签 拼多多*/
:is(a[data-ref^="拼多多"],.page-title-sizer-wrapper span[data-ref^="拼多多"]){
  position: relative;
}
:is(a[data-ref^="拼多多"],.page-title-sizer-wrapper span[data-ref^="拼多多"]):hover{
  position: relative;
}
:is(a[data-ref^="拼多多"],.page-title-sizer-wrapper span[data-ref^="拼多多"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhZ5uIkv647nODild9w/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 2px;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: 2px;
}
:is([data-ref^="拼多多"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="拼多多"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhZ5uIkv647nODild9w/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 2px;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 拼多多*//*自定义标签 淘宝 taobao Taobao*/
:is(a[data-ref^="淘宝"],.page-title-sizer-wrapper span[data-ref^="淘宝"],a[data-ref^="taobao"],.page-title-sizer-wrapper span[data-ref^="taobao"],a[data-ref^="Taobao"],.page-title-sizer-wrapper span[data-ref^="Taobao"]){
  position: relative;
}
:is(a[data-ref^="淘宝"],.page-title-sizer-wrapper span[data-ref^="淘宝"],a[data-ref^="taobao"],.page-title-sizer-wrapper span[data-ref^="taobao"],a[data-ref^="Taobao"],.page-title-sizer-wrapper span[data-ref^="Taobao"]):hover{
  position: relative;
}
:is(a[data-ref^="淘宝"],.page-title-sizer-wrapper span[data-ref^="淘宝"],a[data-ref^="taobao"],.page-title-sizer-wrapper span[data-ref^="taobao"],a[data-ref^="Taobao"],.page-title-sizer-wrapper span[data-ref^="Taobao"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhZ5tDcZSNFU_xvDDmw/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 2px;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: 2px;
}
:is([data-ref^="淘宝"],[data-ref^="taobao"],[data-ref^="Taobao"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="淘宝"],[data-ref^="taobao"],[data-ref^="Taobao"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhZ5tDcZSNFU_xvDDmw/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 2px;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 任务清单*/
:is(a[data-ref="任务清单"],.page-title-sizer-wrapper span[data-ref="任务清单"]){
  position: relative;
}
:is(a[data-ref="任务清单"],.page-title-sizer-wrapper span[data-ref="任务清单"]):hover{
  position: relative;
}
:is(a[data-ref="任务清单"],.page-title-sizer-wrapper span[data-ref="任务清单"])::before{
  content: "";
  background-image: url("https://img.icons8.com/fluency/240/000000/microsoft-todo-2019.png");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: var(--pageIconTop);
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: 2px;
}
:is([data-ref="任务清单"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref="任务清单"])>a>span.page-icon {
  content: "";
  background-image: url("https://img.icons8.com/fluency/240/000000/microsoft-todo-2019.png");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
}

/*自定义标签 榜单*/
:is(a[data-ref^="榜单"],.page-title-sizer-wrapper span[data-ref^="榜单"]){
  position: relative;
}
:is(a[data-ref^="榜单"],.page-title-sizer-wrapper span[data-ref^="榜单"]):hover{
  position: relative;
}
:is(a[data-ref^="榜单"],.page-title-sizer-wrapper span[data-ref^="榜单"])::before{
  content: "";
  background-image: url("https://files.getquicker.net/_icons/40CAB5687F3D75FC6AF2CD2460C551A1225BD51D.png");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: var(--pageIconTop);
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: 2px;
}
:is([data-ref^="榜单"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="榜单"])>a>span.page-icon {
  content: "";
  background-image: url("https://files.getquicker.net/_icons/40CAB5687F3D75FC6AF2CD2460C551A1225BD51D.png");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 榜单*//*自定义标签 好小猪*/
:is(a[data-ref^="好小猪"],.page-title-sizer-wrapper span[data-ref^="好小猪"]){
  position: relative;
}
:is(a[data-ref^="好小猪"],.page-title-sizer-wrapper span[data-ref^="好小猪"]):hover{
  position: relative;
}
:is(a[data-ref^="好小猪"],.page-title-sizer-wrapper span[data-ref^="好小猪"])::before{
  content: "";
  background-image: url("https://files.getquicker.net/_icons/53891C2291904F4BB78B5B0B04D0413FC9A2F671.png");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: var(--pageIconTop);
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: 2px;
}
:is([data-ref^="好小猪"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="好小猪"])>a>span.page-icon {
  content: "";
  background-image: url("https://files.getquicker.net/_icons/53891C2291904F4BB78B5B0B04D0413FC9A2F671.png");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 好小猪*/
/*自定义标签 香港MOMO童装*/
:is(a[data-ref^="香港MOMO童装"],.page-title-sizer-wrapper span[data-ref^="香港MOMO童装"]){
  position: relative;
}
:is(a[data-ref^="香港MOMO童装"],.page-title-sizer-wrapper span[data-ref^="香港MOMO童装"]):hover{
  position: relative;
}
:is(a[data-ref^="香港MOMO童装"],.page-title-sizer-wrapper span[data-ref^="香港MOMO童装"])::before{
  content: "";
  background-image: url("https://files.getquicker.net/_icons/51C5165944B3C62C0CCAF173CF4FC4A767F224EF.png");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: var(--pageIconTop);
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: 2px;
}
:is([data-ref^="香港MOMO童装"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="香港MOMO童装"])>a>span.page-icon {
  content: "";
  background-image: url("https://files.getquicker.net/_icons/51C5165944B3C62C0CCAF173CF4FC4A767F224EF.png");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 香港MOMO童装*//*自定义标签 MOMO momo*/
:is(a[data-ref*="MOMO"],.page-title-sizer-wrapper span[data-ref*="MOMO"],a[data-ref*="momo"],.page-title-sizer-wrapper span[data-ref*="momo"]){
  position: relative;
}
:is(a[data-ref*="MOMO"],.page-title-sizer-wrapper span[data-ref*="MOMO"],a[data-ref*="momo"],.page-title-sizer-wrapper span[data-ref*="momo"]):hover{
  position: relative;
}
:is(a[data-ref*="MOMO"],.page-title-sizer-wrapper span[data-ref*="MOMO"],a[data-ref*="momo"],.page-title-sizer-wrapper span[data-ref*="momo"])::before{
  content: "";
  background-image: url("https://files.getquicker.net/_icons/51C5165944B3C62C0CCAF173CF4FC4A767F224EF.png");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: var(--pageIconTop);
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: 2px;
}
:is([data-ref*="MOMO"],[data-ref*="momo"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref*="MOMO"],[data-ref*="momo"])>a>span.page-icon {
  content: "";
  background-image: url("https://files.getquicker.net/_icons/51C5165944B3C62C0CCAF173CF4FC4A767F224EF.png");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 MOMO momo*//*自定义标签 宋得洋*/
:is(a[data-ref^="宋得洋"],.page-title-sizer-wrapper span[data-ref^="宋得洋"]){
  position: relative;
}
:is(a[data-ref^="宋得洋"],.page-title-sizer-wrapper span[data-ref^="宋得洋"]):hover{
  position: relative;
}
:is(a[data-ref^="宋得洋"],.page-title-sizer-wrapper span[data-ref^="宋得洋"])::before{
  content: "";
  background-image: url("https://files.getquicker.net/_icons/EEC9F5F274A89184EA7D5B222D267FE58CDB0719.png");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: var(--pageIconTop);
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: 2px;
}
:is([data-ref^="宋得洋"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="宋得洋"])>a>span.page-icon {
  content: "";
  background-image: url("https://files.getquicker.net/_icons/EEC9F5F274A89184EA7D5B222D267FE58CDB0719.png");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 宋得洋*//*自定义标签 归档*/
:is(a[data-ref="归档"],.page-title-sizer-wrapper span[data-ref="归档"]){
  position: relative;
  color: #A2A3A3!important;
}
:is(a[data-ref="归档"],.page-title-sizer-wrapper span[data-ref="归档"]):hover{
  position: relative;
    color: #A2A3A3!important;
}
:is(a[data-ref="归档"],.page-title-sizer-wrapper span[data-ref="归档"])::before{
  content: "🗂";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref="归档"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref="归档"])>a::before {
  content: "🗂";
}
/*自定义标签 下一步行动*/
:is(a[data-ref^="下一步行动"],.page-title-sizer-wrapper span[data-ref^="下一步行动"]){
  position: relative;
  color: #185abd!important;
}
:is(a[data-ref^="下一步行动"],.page-title-sizer-wrapper span[data-ref^="下一步行动"]):hover{
  position: relative;
    color: #185abd!important;
}
:is(a[data-ref^="下一步行动"],.page-title-sizer-wrapper span[data-ref^="下一步行动"])::before{
  content: "⏬";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref^="下一步行动"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="下一步行动"])>a::before {
  content: "⏬";
}
/*自定义标签 下一步行动*//*自定义标签 项目*/
:is(a[data-ref^="项目"],.page-title-sizer-wrapper span[data-ref^="项目"]){
  position: relative;
 /*color: #16c60c!important;*/
}
:is(a[data-ref^="项目"],.page-title-sizer-wrapper span[data-ref^="项目"]):hover{
  position: relative;
    /*color: #16c60c!important;*/
}
:is(a[data-ref^="项目"],.page-title-sizer-wrapper span[data-ref^="项目"])::before{
  content: "🦆";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref^="项目"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="项目"])>a::before {
  content: "🦆";
}
/*自定义标签 项目*//*自定义标签 等待清单*/
:is(a[data-ref^="等待清单"],.page-title-sizer-wrapper span[data-ref^="等待清单"]){
  position: relative;
  color: #000000!important;
}
:is(a[data-ref^="等待清单"],.page-title-sizer-wrapper span[data-ref^="等待清单"]):hover{
  position: relative;
    color: #000000!important;
}
:is(a[data-ref^="等待清单"],.page-title-sizer-wrapper span[data-ref^="等待清单"])::before{
  content: "💤";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref^="等待清单"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="等待清单"])>a::before {
  content: "💤";
}
/*自定义标签 等待清单*//*自定义标签 将来也许*/
:is(a[data-ref^="将来/也许"],.page-title-sizer-wrapper span[data-ref^="将来也许"]){
  position: relative;
}
:is(a[data-ref^="将来/也许"],.page-title-sizer-wrapper span[data-ref^="将来也许"]):hover{
  position: relative;
}
:is(a[data-ref^="将来/也许"],.page-title-sizer-wrapper span[data-ref^="将来也许"])::before{
  content: "⏰";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref^="将来/也许"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="将来也许"])>a::before {
  content: "⏰";
}
/*自定义标签 将来也许*//*自定义标签 重复清单*/
:is(a[data-ref^="重复清单"],.page-title-sizer-wrapper span[data-ref^="重复清单"]){
  position: relative;
  color: #0D496E!important;
}
:is(a[data-ref^="重复清单"],.page-title-sizer-wrapper span[data-ref^="重复清单"]):hover{
  position: relative;
    color: #0D496E!important;
}
:is(a[data-ref^="重复清单"],.page-title-sizer-wrapper span[data-ref^="重复清单"])::before{
  content: "⌛";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref^="重复清单"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="重复清单"])>a::before {
  content: "⌛";
}
/*自定义标签 重复清单*/

/*自定义标签 logseq Logseq*//*自定义标签 图书 读书 阅读 书籍*/
:is(a[data-ref^="图书"],h1[data-ref^="图书"],a[data-ref^="读书"],h1[data-ref^="读书"],a[data-ref^="阅读"],h1[data-ref^="阅读"],a[data-ref^="书籍"],h1[data-ref^="书籍"]){
  background-color: #d4e2f7;
  border: 0;
  border-bottom: 2px solid #48a9c8;
}
:is(a[data-ref^="图书"],h1[data-ref^="图书"],a[data-ref^="读书"],h1[data-ref^="读书"],a[data-ref^="阅读"],h1[data-ref^="阅读"],a[data-ref^="书籍"],h1[data-ref^="书籍"]):hover{
  background-color: #d4e2f7;
  border: 0;
  border-bottom: 2px solid #48a9c8;
}
:is(a[data-ref^="图书"],h1[data-ref^="图书"],a[data-ref^="读书"],h1[data-ref^="读书"],a[data-ref^="阅读"],h1[data-ref^="阅读"],a[data-ref^="书籍"],h1[data-ref^="书籍"])::before{
  content: "📕";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref^="图书"],[data-ref^="读书"],[data-ref^="阅读"],[data-ref^="书籍"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="图书"],[data-ref^="读书"],[data-ref^="阅读"],[data-ref^="书籍"])>a::before {
  content: "📕";
}
/*自定义标签 图书 读书 阅读 书籍*//*自定义标签 quicker Quicker*/

/*自定义标签 logseq Logseq*//*自定义标签 图书 读书 阅读 书籍*/
:is(a[data-ref*="折腾"],h1[data-ref*="折腾"],a[data-ref*="折腾"],h1[data-ref*="折腾"],a[data-ref*="折腾"],h1[data-ref*="折腾"],a[data-ref*="折腾"],h1[data-ref*="折腾"]){
  /*position: relative;
  background-color: #ead1dc;
  border: 0;
  color: #cc0000;
  font-size: 0.8em;
  padding: 5px 6px;
  font-weight: bold;*/
  background-color: #e0e5f3;
  border: 0;
  border-bottom: 2px solid #909bc2;

}
:is(a[data-ref*="折腾"],h1[data-ref*="折腾"],a[data-ref*="折腾"],h1[data-ref*="折腾"],a[data-ref*="折腾"],h1[data-ref*="折腾"],a[data-ref*="折腾"],h1[data-ref*="折腾"]):hover{
  position: relative;
  /*border: 0;
  font-size: 0.8em;
  padding: 5px 6px;*/
  background-color: #e0e5f3;
  border: 0;
  border-bottom: 2px solid #909bc2;
}
:is(a[data-ref*="折腾"],h1[data-ref*="折腾"],a[data-ref*="折腾"],h1[data-ref*="折腾"],a[data-ref*="折腾"],h1[data-ref*="折腾"],a[data-ref*="折腾"],h1[data-ref*="折腾"])::before{
  content: "🏹";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref*="折腾"],[data-ref*="折腾"],[data-ref*="折腾"],[data-ref*="折腾"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref*="折腾"],[data-ref*="折腾"],[data-ref*="折腾"],[data-ref*="折腾"])>a::before {
  content: "🏹";
}
/*自定义标签 图书 读书 阅读 书籍*//*自定义标签 quicker Quicker*/

/*自定义标签 logseq Logseq*//*自定义标签 图书 读书 阅读 书籍*/
:is(a[data-ref^="店铺"],h1[data-ref^="店铺"],a[data-ref^="店铺"],h1[data-ref^="店铺"],a[data-ref^="店铺"],h1[data-ref^="店铺"],a[data-ref^="店铺"],h1[data-ref^="店铺"]){
  position: relative;
  /*background-color: rgb(245, 208, 67,.5);
  border: 0;
  color: #ff3f00;
  font-size: 0.8em;
  padding: 5px 6px;
  font-weight: bold;*/
  background-color: #fbecb4;
  border: 0;
  border-bottom: 2px solid #ff6533;

}
:is(a[data-ref^="店铺"],h1[data-ref^="店铺"],a[data-ref^="店铺"],h1[data-ref^="店铺"],a[data-ref^="店铺"],h1[data-ref^="店铺"],a[data-ref^="店铺"],h1[data-ref^="店铺"]):hover{
  position: relative;
  /*border: 0;
  font-size: 0.8em;
  padding: 5px 6px;*/
  background-color: #fbecb4;
  border: 0;
  border-bottom: 2px solid #ff6533;
}
:is(a[data-ref^="店铺"],h1[data-ref^="店铺"],a[data-ref^="店铺"],h1[data-ref^="店铺"],a[data-ref^="店铺"],h1[data-ref^="店铺"],a[data-ref^="店铺"],h1[data-ref^="店铺"])::before{
  content: "🏬";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref^="店铺"],[data-ref^="店铺"],[data-ref^="店铺"],[data-ref^="店铺"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="店铺"],[data-ref^="店铺"],[data-ref^="店铺"],[data-ref^="店铺"])>a::before {
  content: "🏬";
}
/*自定义标签 图书 读书 阅读 书籍*//*自定义标签 quicker Quicker*/
/*自定义标签 logseq Logseq*//*自定义标签 图书 读书 阅读 书籍*/
:is(a[data-ref^="娱乐"],h1[data-ref^="娱乐"]){
  position: relative;
  /*background-color: rgb(245, 208, 67,.5);
  border: 0;
  color: #ff3f00;
  font-size: 0.8em;
  padding: 5px 6px;
  font-weight: bold;*/
  background-color: rgb(0, 119, 17,.3);
  border: 0;
  border-bottom: 2px solid #007711;

}
:is(a[data-ref^="娱乐"],h1[data-ref^="娱乐"]):hover{
  position: relative;
  /*border: 0;
  font-size: 0.8em;
  padding: 5px 6px;*/
  background-color: rgb(0, 119, 17,.3);
  border: 0;
  border-bottom: 2px solid #007711;
}
:is(a[data-ref^="娱乐"],h1[data-ref^="娱乐"])::before{
  content: "⚔";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref^="娱乐"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="娱乐"])>a::before {
  content: "⚔";
}

/*自定义标签 logseq Logseq*//*自定义标签 生活*/
:is(a[data-ref^="生活"],h1[data-ref^="生活"]){
  position: relative;
  /*background-color: rgb(245, 208, 67,.5);
  border: 0;
  color: #ff3f00;
  font-size: 0.8em;
  padding: 5px 6px;
  font-weight: bold;*/
  background-color: rgb(244, 149, 191,.2);
  border: 0;
  border-bottom: 2px solid rgb(243, 97, 69);

}
:is(a[data-ref^="生活"],h1[data-ref^="生活"]):hover{
  position: relative;
  /*border: 0;
  font-size: 0.8em;
  padding: 5px 6px;*/
  background-color: rgb(244, 149, 191,.2);
  border: 0;
  border-bottom: 2px solid rgb(243, 97, 69);
}
:is(a[data-ref^="生活"],h1[data-ref^="生活"])::before{
  content: "🍄";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref^="生活"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="生活"])>a::before {
  content: "🍄";
}

/*自定义标签 图书 读书 阅读 书籍*//*自定义标签 quicker Quicker*/
/*自定义标签 logseq Logseq*//*自定义标签 图书 读书 阅读 书籍*/
:is(a[data-ref^="售后任务"],h1[data-ref^="售后任务"],a[data-ref^="售后任务"],h1[data-ref^="售后任务"],a[data-ref^="售后任务"],h1[data-ref^="售后任务"],a[data-ref^="售后任务"],h1[data-ref^="售后任务"]){
  background-color: #fbecb4;
  border: 0;
  border-bottom: 2px solid #ff4000;

}
:is(a[data-ref^="售后任务"],h1[data-ref^="售后任务"],a[data-ref^="售后任务"],h1[data-ref^="售后任务"],a[data-ref^="售后任务"],h1[data-ref^="售后任务"],a[data-ref^="售后任务"],h1[data-ref^="售后任务"]):hover{
  background-color: #fbecb4;
  border: 0;
  border-bottom: 2px solid #ff4000;
}
:is(a[data-ref^="售后任务"],h1[data-ref^="售后任务"],a[data-ref^="售后任务"],h1[data-ref^="售后任务"],a[data-ref^="售后任务"],h1[data-ref^="售后任务"],a[data-ref^="售后任务"],h1[data-ref^="售后任务"])::before{
  content: "🛵";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref^="售后任务"],[data-ref^="售后任务"],[data-ref^="售后任务"],[data-ref^="售后任务"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="售后任务"],[data-ref^="售后任务"],[data-ref^="售后任务"],[data-ref^="售后任务"])>a::before {
  content: "🛵";
}
/*自定义标签 菜谱*/
:is(a[data-ref^="菜谱"],.page-title-sizer-wrapper span[data-ref^="菜谱"]){
  position: relative;
}
:is(a[data-ref^="菜谱"],.page-title-sizer-wrapper span[data-ref^="菜谱"]):hover{
  position: relative;
}
:is(a[data-ref^="菜谱"],.page-title-sizer-wrapper span[data-ref^="菜谱"])::before{
  content: "🍲";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref^="菜谱"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="菜谱"])>a::before {
  content: "🍲";
}
/*自定义标签 菜谱*/
/*自定义标签 日志*/
:is(a[data-ref="日志"],.page-title-sizer-wrapper span[data-ref="日志"]){
  position: relative;
 
}
a[data-ref="日志"] {
  color: #002b34;
  border: 2px solid #91cccc;
}
:is(a[data-ref="日志"],.page-title-sizer-wrapper span[data-ref="日志"]):hover{
  position: relative;
}
:is(a[data-ref="日志"],.page-title-sizer-wrapper span[data-ref="日志"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhds4Q9b6M-s_m5Tqpw/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: var(--pageIconTop);
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: 2px;
}
:is([data-ref="日志"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref="日志"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhds4Q9b6M-s_m5Tqpw/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 日志*/
/*自定义标签 超级工厂*/
a[data-ref="超级工厂"] {
  border-color: #5218e1;
  background-color: #5218e1;
  color: #f1f1f1;
  font-size: 12px !important;
  opacity: 1;
}
a[data-ref="超级工厂"]:hover {
  border-color: #5218e1;
  background-color: #5218e1;
  color: #ffffff;
  font-size: 12px !important;
}
/*实力商家*/
a[data-ref="实力商家"] {
  border-color: #ff0d0d;
  background-color: #ff0d0d;
  color: #f1f1f1;
  font-size: 12px !important;
  opacity: 1;
}
a[data-ref="实力商家"]:hover {
  border-color: #ff0d0d;
  background-color: #ff0d0d;
  color: #ffffff;
  font-size: 12px !important;
}
/*自定义标签 运费>5*/
a[data-ref="运费>5"] {
  font-size: 12px !important;
  border: 2px dashed #f2277c;
}
a[data-ref="运费>5"]:hover {
  font-size: 12px !important;
  border: 2px solid #f2277c;
}
/*自定义标签 运费=5*/
a[data-ref="运费=5"] {
  font-size: 12px !important;
  border: 2px dashed #68217a;
}
a[data-ref="运费=5"]:hover {
  font-size: 12px !important;
  border: 2px solid #68217a;
}

/*自定义标签 运费<5*/
a[data-ref="运费<5"] {
  font-size: 12px !important;
  border: 2px dashed #45d4a1;
}
a[data-ref="运费<5"]:hover {
  font-size: 12px !important;
  border: 2px solid #45d4a1;
}/*自定义标签 男童*/
:is(a[data-ref^="男童"],.page-title-sizer-wrapper span[data-ref^="男童"]){
  position: relative;
}
:is(a[data-ref^="男童"],.page-title-sizer-wrapper span[data-ref^="男童"]):hover{
  position: relative;
}
:is(a[data-ref^="男童"],.page-title-sizer-wrapper span[data-ref^="男童"])::before{
  content: "🧑";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref^="男童"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="男童"])>a::before {
  content: "🧑";
}
/*自定义标签 男童*//*自定义标签 女童*/
:is(a[data-ref^="女童"],.page-title-sizer-wrapper span[data-ref^="女童"]){
  position: relative;
}
:is(a[data-ref^="女童"],.page-title-sizer-wrapper span[data-ref^="女童"]):hover{
  position: relative;
}
:is(a[data-ref^="女童"],.page-title-sizer-wrapper span[data-ref^="女童"])::before{
  content: "👸";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref^="女童"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="女童"])>a::before {
  content: "👸";
}
/*自定义标签 女童*//*自定义标签 小童*/
:is(a[data-ref^="小童"],.page-title-sizer-wrapper span[data-ref^="小童"]){
  position: relative;
}
:is(a[data-ref^="小童"],.page-title-sizer-wrapper span[data-ref^="小童"]):hover{
  position: relative;
}
:is(a[data-ref^="小童"],.page-title-sizer-wrapper span[data-ref^="小童"])::before{
  content: "🌙";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref^="小童"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="小童"])>a::before {
  content: "🌙";
}
a[data-ref="小童"] {
  font-size: 12px !important;
  border: 2px dashed #1e1e1e;
}
a[data-ref="小童"]:hover {
  font-size: 12px !important;
  border: 2px solid #1e1e1e;
}
/*自定义标签 小童*//*自定义标签 大童*/
:is(a[data-ref^="大童"],.page-title-sizer-wrapper span[data-ref^="大童"]){
  position: relative;
}
:is(a[data-ref^="大童"],.page-title-sizer-wrapper span[data-ref^="大童"]):hover{
  position: relative;
}
:is(a[data-ref^="大童"],.page-title-sizer-wrapper span[data-ref^="大童"])::before{
  content: "🌓";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref^="大童"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="大童"])>a::before {
  content: "🌓";
}
a[data-ref="大童"] {
  font-size: 12px !important;
  border: 2px solid #1e1e1e;
}
a[data-ref="大童"]:hover {
  font-size: 12px !important;
  border: 2px solid #1e1e1e;
}
/*自定义标签 大童*//*自定义标签 货源*/
:is(a[data-ref^="货源"],.page-title-sizer-wrapper span[data-ref^="货源"]){
  position: relative;
}
:is(a[data-ref^="货源"],.page-title-sizer-wrapper span[data-ref^="货源"]):hover{
  position: relative;
}
:is(a[data-ref^="货源"],.page-title-sizer-wrapper span[data-ref^="货源"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhdt-n6bTT5rWqF-3XQ/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: var(--pageIconTop);
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: 2px;
}
:is([data-ref^="货源"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="货源"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhdt-n6bTT5rWqF-3XQ/root/content");
  background-size: 100%;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0;
  left: 0px;
  z-index: 0;
  display: inline-block;
  overflow:auto;
}


