@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css');
/*自定义标签 测试*//*自定义标签 世界观*/
:is(a[data-ref="世界观"],.page-title-sizer-wrapper span[data-ref="世界观"]){
  position: relative;
}
:is(a[data-ref="世界观"],.page-title-sizer-wrapper span[data-ref="世界观"]):hover{
  position: relative;
}
:is(a[data-ref="世界观"],.page-title-sizer-wrapper span[data-ref="世界观"])::before{
  content: "\EB54";
  font-size: 1em;
  font-family: 'tabler-icons';
  color: #217DBA;
  margin-right: 2px;
}
:is([data-ref="世界观"]) > a > span.page-icon {
  text-indent:-9999px;
   position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref="世界观"])>a::before {
  font-family: 'tabler-icons';
  font-size: 1.2em;
  color: #217DBA;
  content: "\EB54";
}
/*自定义标签 世界观*/
/*自定义标签 测试页面*/
:is(a[data-ref^="测试页面"],.page-title-sizer-wrapper span[data-ref^="测试页面"]){
  position: relative;
}
:is(a[data-ref^="测试页面"],.page-title-sizer-wrapper span[data-ref^="测试页面"]):hover{
  position: relative;
}
:is(a[data-ref^="测试页面"],.page-title-sizer-wrapper span[data-ref^="测试页面"])::before{
  content: "\EFD3";
  font-size: 1em;
  font-family: 'tabler-icons';
  color: #217DBA;
  margin-right: 2px;
}
:is([data-ref^="测试页面"]) > a > span.page-icon {
  text-indent:-9999px;
   position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="测试页面"])>a::before {
  font-family: 'tabler-icons';
  font-size: 1.2em;
  color: #217DBA;
  content: "\EFD3";
}
/*自定义标签 测试*/
:is(a[data-ref="测试"],.page-title-sizer-wrapper span[data-ref="测试"]){
  position: relative;
}
:is(a[data-ref="测试"],.page-title-sizer-wrapper span[data-ref="测试"]):hover{
  position: relative;
}
:is(a[data-ref="测试"],.page-title-sizer-wrapper span[data-ref="测试"])::before{
  content: "🍭";
  font-size: 1em;
  margin-right: 2px;
}
:is([data-ref="测试"]) > a > span.page-icon {
  text-indent:-9999px;
  position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref="测试"])>a::before {
  content: "🍭";
}
